<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tab2_1</key>
	<string>一、商業服務業</string>
	<key>tab2_1_type</key>
	<string>title</string>
	<key>tab2_1_url</key>
	<string></string>
	<key>tab2_2</key>
	<string>B.電腦及其相關服務業</string>
	<key>tab2_2_type</key>
	<string>subtitle</string>
	<key>tab2_2_url</key>
	<string></string>
	<key>tab2_3</key>
	<string>(a)與電腦硬體安裝有關之諮詢服務(CPC841)</string>
	<key>tab2_3_type</key>
	<string>item</string>
	<key>tab2_3_url</key>
	<string>3</string>
	<key>tab2_4</key>
	<string>(b)軟體執行服務(CPC842)</string>
	<key>tab2_4_type</key>
	<string>item</string>
	<key>tab2_4_url</key>
	<string>4</string>
	<key>tab2_5</key>
	<string>(c)資料處理服務(CPC843)</string>
	<key>tab2_5_type</key>
	<string>item</string>
	<key>tab2_5_url</key>
	<string>5</string>
	<key>tab2_6</key>
	<string>(d)資料庫服務(CPC844)</string>
	<key>tab2_6_type</key>
	<string>item</string>
	<key>tab2_6_url</key>
	<string>6</string>
	<key>tab2_7</key>
	<string>(e)其他(CPC845+849)</string>
	<key>tab2_7_type</key>
	<string>item</string>
	<key>tab2_7_url</key>
	<string>7</string>
	<key>tab2_8</key>
	<string>E.未附操作員之租賃服務業</string>
	<key>tab2_8_type</key>
	<string>subtitle</string>
	<key>tab2_8_url</key>
	<string></string>
	<key>tab2_9</key>
	<string>(b)航空器租賃(涉及航空權者除外)(CPC83104**)</string>
	<key>tab2_9_type</key>
	<string>item</string>
	<key>tab2_9_url</key>
	<string>9</string>
	<key>tab2_10</key>
	<string>(c)自用小客車租賃(CPC83101**)</string>
	<key>tab2_10_type</key>
	<string>item</string>
	<key>tab2_10_url</key>
	<string>10</string>
	<key>tab2_11</key>
	<string>(d)其它機器與設備租賃(CPC83106-83109)(電信設備及電力設備租賃除外)</string>
	<key>tab2_11_type</key>
	<string>item</string>
	<key>tab2_11_url</key>
	<string>11</string>
	<key>tab2_12</key>
	<string>F.其他商業服務業</string>
	<key>tab2_12_type</key>
	<string>subtitle</string>
	<key>tab2_12_url</key>
	<string></string>
	<key>tab2_13</key>
	<string>(a)廣告服務業(CPC871**)(廣播電視廣告業除外)</string>
	<key>tab2_13_type</key>
	<string>item</string>
	<key>tab2_13_url</key>
	<string>13</string>
	<key>tab2_14</key>
	<string>(b)市場研究服務業(CPC86401**，限於市場分析、消費者態度和偏好的分析)</string>
	<key>tab2_14_type</key>
	<string>item</string>
	<key>tab2_14_url</key>
	<string>14</string>
	<key>tab2_15</key>
	<string>(c)管理顧問服務業(CPC865)</string>
	<key>tab2_15_type</key>
	<string>item</string>
	<key>tab2_15_url</key>
	<string>15</string>
	<key>tab2_16</key>
	<string>(e)技術檢測與分析服務業(CPC8676)</string>
	<key>tab2_16_type</key>
	<string>item</string>
	<key>tab2_16_url</key>
	<string></string>
	<key>tab2_17</key>
	<string>車輛、機械、電機、電子、化工、度量衡、酒類產品及環境檢測的技術檢測及分析服務</string>
	<key>tab2_17_type</key>
	<string>item2</string>
	<key>tab2_17_url</key>
	<string>147</string>
	<key>tab2_18</key>
	<string>醫療器材的非臨床試驗檢驗的技術檢測及分析服務</string>
	<key>tab2_18_type</key>
	<string>item2</string>
	<key>tab2_18_url</key>
	<string>17</string>
	<key>tab2_19</key>
	<string>(f)附帶於畜牧業之顧問服務業(非涉及家禽孵育及家畜禽配種者)(CPC88120**)</string>
	<key>tab2_19_type</key>
	<string>item</string>
	<key>tab2_19_url</key>
	<string>18</string>
	<key>tab2_20</key>
	<string>(h)附帶於礦業之服務業(CPC883、5115)</string>
	<key>tab2_20_type</key>
	<string>item</string>
	<key>tab2_20_url</key>
	<string>19</string>
	<key>tab2_21</key>
	<string>(m)與科學技術有關之顧問服務業</string>
	<key>tab2_21_type</key>
	<string>item</string>
	<key>tab2_21_url</key>
	<string></string>
	<key>tab2_22</key>
	<string>限地質、礦物及其他科學勘察服務(CPC86751)</string>
	<key>tab2_22_type</key>
	<string>item2</string>
	<key>tab2_22_url</key>
	<string>148</string>
	<key>tab2_23</key>
	<string>(n)設備維修服務業(CPC633、8861-8866)(海運船隻、航空器及其他運輸設備除外)</string>
	<key>tab2_23_type</key>
	<string>item</string>
	<key>tab2_23_url</key>
	<string>21</string>
	<key>tab2_24</key>
	<string>(o)建築物清理服務業(CPC874)</string>
	<key>tab2_24_type</key>
	<string>item</string>
	<key>tab2_24_url</key>
	<string>22</string>
	<key>tab2_25</key>
	<string>(p)攝影服務業(CPC875)</string>
	<key>tab2_25_type</key>
	<string>item</string>
	<key>tab2_25_url</key>
	<string>23</string>
	<key>tab2_26</key>
	<string>(q)包裝服務業(CPC876)</string>
	<key>tab2_26_type</key>
	<string>item</string>
	<key>tab2_26_url</key>
	<string>24</string>
	<key>tab2_27</key>
	<string>(r)印刷及其輔助服務業(CPC88442**)</string>
	<key>tab2_27_type</key>
	<string>item</string>
	<key>tab2_27_url</key>
	<string>25</string>
	<key>tab2_28</key>
	<string>(s)展覽服務業(CPC87909**)</string>
	<key>tab2_28_type</key>
	<string>item</string>
	<key>tab2_28_url</key>
	<string>26</string>
	<key>tab2_29</key>
	<string>(t)其他</string>
	<key>tab2_29_type</key>
	<string>item</string>
	<key>tab2_29_url</key>
	<string></string>
	<key>tab2_30</key>
	<string>ii.複製服務業(CPC87904)</string>
	<key>tab2_30_type</key>
	<string>item2</string>
	<key>tab2_30_url</key>
	<string>28</string>
	<key>tab2_31</key>
	<string>iii.翻譯及傳譯服務業(CPC87905)</string>
	<key>tab2_31_type</key>
	<string>item2</string>
	<key>tab2_31_url</key>
	<string>29</string>
	<key>tab2_32</key>
	<string>iv.郵寄名單編輯服務業(CPC87906**)</string>
	<key>tab2_32_type</key>
	<string>item2</string>
	<key>tab2_32_url</key>
	<string>30</string>
	<key>tab2_33</key>
	<string>二、通訊服務業</string>
	<key>tab2_33_type</key>
	<string>title</string>
	<key>tab2_33_url</key>
	<string></string>
	<key>tab2_34</key>
	<string>B.快遞服務陸地運送部分(現行由臺灣郵政主管部門依規定保留之服務除外)</string>
	<key>tab2_34_type</key>
	<string>subtitle</string>
	<key>tab2_34_url</key>
	<string>32</string>
	<key>tab2_35</key>
	<string>電信服務業第二類電信事業特殊業務</string>
	<key>tab2_35_type</key>
	<string>item</string>
	<key>tab2_35_url</key>
	<string></string>
	<key>tab2_36</key>
	<string>存轉網路服務</string>
	<key>tab2_36_type</key>
	<string>item2</string>
	<key>tab2_36_url</key>
	<string>149</string>
	<key>tab2_37</key>
	<string>存取網路服務</string>
	<key>tab2_37_type</key>
	<string>item2</string>
	<key>tab2_37_url</key>
	<string>150</string>
	<key>tab2_38</key>
	<string>數據交換服務</string>
	<key>tab2_38_type</key>
	<string>item2</string>
	<key>tab2_38_url</key>
	<string>151</string>
	<key>tab2_39</key>
	<string>D.視聽服務業</string>
	<key>tab2_39_type</key>
	<string>subtitle</string>
	<key>tab2_39_url</key>
	<string></string>
	<key>tab2_40</key>
	<string>(a)電影或錄影帶之行銷服務業</string>
	<key>tab2_40_type</key>
	<string>item</string>
	<key>tab2_40_url</key>
	<string></string>
	<key>tab2_41</key>
	<string>進口大陸影片</string>
	<key>tab2_41_type</key>
	<string>item2</string>
	<key>tab2_41_url</key>
	<string>153</string>
	<key>tab2_42</key>
	<string>三、營造及相關工程服務業</string>
	<key>tab2_42_type</key>
	<string>title</string>
	<key>tab2_42_url</key>
	<string></string>
	<key>tab2_43</key>
	<string>A.建築物的一般建築工作(CPC512)</string>
	<key>tab2_43_type</key>
	<string>subtitle</string>
	<key>tab2_43_url</key>
	<string>36</string>
	<key>tab2_44</key>
	<string>B.土木工程的一般建築工作(CPC513)</string>
	<key>tab2_44_type</key>
	<string>subtitle</string>
	<key>tab2_44_url</key>
	<string>37</string>
	<key>tab2_45</key>
	<string>C.安裝和組裝工作(CPC514+516)</string>
	<key>tab2_45_type</key>
	<string>subtitle</string>
	<key>tab2_45_url</key>
	<string>38</string>
	<key>tab2_46</key>
	<string>D.建築物竣工和最後修整工作(CPC517)</string>
	<key>tab2_46_type</key>
	<string>subtitle</string>
	<key>tab2_46_url</key>
	<string>39</string>
	<key>tab2_47</key>
	<string>E.其他(CPC511+515+518)</string>
	<key>tab2_47_type</key>
	<string>subtitle</string>
	<key>tab2_47_url</key>
	<string>40</string>
	<key>tab2_48</key>
	<string>四、配銷服務業</string>
	<key>tab2_48_type</key>
	<string>title</string>
	<key>tab2_48_url</key>
	<string></string>
	<key>tab2_49</key>
	<string>B.批發交易服務業(CPC622，武器警械及軍事用品、農產品市場交易法所稱之農產品批發市場除外)</string>
	<key>tab2_49_type</key>
	<string>subtitle</string>
	<key>tab2_49_url</key>
	<string>42</string>
	<key>tab2_50</key>
	<string>C.零售服務業(CPC631、632、6111、6113、6121，武器警械、軍事用品、藥局及藥房除外)</string>
	<key>tab2_50_type</key>
	<string>subtitle</string>
	<key>tab2_50_url</key>
	<string>43</string>
	<key>tab2_51</key>
	<string>D.經銷(CPC8929)</string>
	<key>tab2_51_type</key>
	<string>subtitle</string>
	<key>tab2_51_url</key>
	<string>44</string>
	<key>tab2_52</key>
	<string>六、環境服務業</string>
	<key>tab2_52_type</key>
	<string>title</string>
	<key>tab2_52_url</key>
	<string></string>
	<key>tab2_53</key>
	<string>A.污水處理服務業(CPC9401)</string>
	<key>tab2_53_type</key>
	<string>subtitle</string>
	<key>tab2_53_url</key>
	<string>46</string>
	<key>tab2_54</key>
	<string>B.廢棄物處理服務業(CPC9402)</string>
	<key>tab2_54_type</key>
	<string>subtitle</string>
	<key>tab2_54_url</key>
	<string>47</string>
	<key>tab2_55</key>
	<string>D.其他</string>
	<key>tab2_55_type</key>
	<string>subtitle</string>
	<key>tab2_55_url</key>
	<string></string>
	<key>tab2_56</key>
	<string>廢棄清理服務業(CPC9404)</string>
	<key>tab2_56_type</key>
	<string>item</string>
	<key>tab2_56_url</key>
	<string>154</string>
	<key>tab2_57</key>
	<string>噪音與振動防制服務業(CPC9405)</string>
	<key>tab2_57_type</key>
	<string>item</string>
	<key>tab2_57_url</key>
	<string>155</string>
	<key>tab2_58</key>
	<string>土壤及地下水污染整治服務業(CPC9409**)</string>
	<key>tab2_58_type</key>
	<string>item</string>
	<key>tab2_58_url</key>
	<string>156</string>
	<key>tab2_59</key>
	<string>D.其他</string>
	<key>tab2_59_type</key>
	<string>subtitle</string>
	<key>tab2_59_url</key>
	<string></string>
	<key>tab2_60</key>
	<string>廢棄清理服務業(CPC9404)</string>
	<key>tab2_60_type</key>
	<string>item</string>
	<key>tab2_60_url</key>
	<string>154</string>
	<key>tab2_61</key>
	<string>噪音與振動防制服務業(CPC9405)</string>
	<key>tab2_61_type</key>
	<string>item</string>
	<key>tab2_61_url</key>
	<string>155</string>
	<key>tab2_62</key>
	<string>土壤及地下水污染整治服務業(CPC9409**)</string>
	<key>tab2_62_type</key>
	<string>item</string>
	<key>tab2_62_url</key>
	<string>156</string>
	<key>tab2_63</key>
	<string>八、健康與社會服務業</string>
	<key>tab2_63_type</key>
	<string>title</string>
	<key>tab2_63_url</key>
	<string></string>
	<key>tab2_64</key>
	<string>A.醫院服務業(CPC9311)</string>
	<key>tab2_64_type</key>
	<string>subtitle</string>
	<key>tab2_64_url</key>
	<string>50</string>
	<key>tab2_65</key>
	<string>其他</string>
	<key>tab2_65_type</key>
	<string>subtitle</string>
	<key>tab2_65_url</key>
	<string></string>
	<key>tab2_66</key>
	<string>無操作員醫療設備之出租或租賃服務業</string>
	<key>tab2_66_type</key>
	<string>item</string>
	<key>tab2_66_url</key>
	<string>157</string>
	<key>tab2_67</key>
	<string>C.社會服務業</string>
	<key>tab2_67_type</key>
	<string>subtitle</string>
	<key>tab2_67_url</key>
	<string></string>
	<key>tab2_68</key>
	<string>老人及身心障礙者福利機構</string>
	<key>tab2_68_type</key>
	<string>item</string>
	<key>tab2_68_url</key>
	<string>181</string>
	<key>tab2_69</key>
	<string>九、觀光及旅遊服務業</string>
	<key>tab2_69_type</key>
	<string>title</string>
	<key>tab2_69_url</key>
	<string></string>
	<key>tab2_70</key>
	<string>A.旅館及餐廳</string>
	<key>tab2_70_type</key>
	<string>subtitle</string>
	<key>tab2_70_url</key>
	<string></string>
	<key>tab2_71</key>
	<string>(a)旅館(限於觀光旅館)(CPC64110**)</string>
	<key>tab2_71_type</key>
	<string>item</string>
	<key>tab2_71_url</key>
	<string>55</string>
	<key>tab2_72</key>
	<string>(c)提供食物服務(CPC642)(包括提供相關飲料服務)</string>
	<key>tab2_72_type</key>
	<string>item</string>
	<key>tab2_72_url</key>
	<string>56</string>
	<key>tab2_73</key>
	<string>B.旅行社及旅遊服務業(CPC7471)</string>
	<key>tab2_73_type</key>
	<string>subtitle</string>
	<key>tab2_73_url</key>
	<string>57</string>
	<key>tab2_74</key>
	<string>十、娛樂、文化及運動服務業(視聽服務業除外)</string>
	<key>tab2_74_type</key>
	<string>title</string>
	<key>tab2_74_url</key>
	<string></string>
	<key>tab2_75</key>
	<string>A.娛樂服務業</string>
	<key>tab2_75_type</key>
	<string>subtitle</string>
	<key>tab2_75_url</key>
	<string></string>
	<key>tab2_76</key>
	<string>演出場所經營</string>
	<key>tab2_76_type</key>
	<string>item</string>
	<key>tab2_76_url</key>
	<string>158</string>
	<key>tab2_77</key>
	<string>D.運動及其他娛樂服務業</string>
	<key>tab2_77_type</key>
	<string>subtitle</string>
	<key>tab2_77_url</key>
	<string></string>
	<key>tab2_78</key>
	<string>運動場館營運(CPC96413)</string>
	<key>tab2_78_type</key>
	<string>item</string>
	<key>tab2_78_url</key>
	<string>159</string>
	<key>tab2_79</key>
	<string>E.其他</string>
	<key>tab2_79_type</key>
	<string>subtitle</string>
	<key>tab2_79_url</key>
	<string></string>
	<key>tab2_80</key>
	<string>遊樂園及主題樂園(非屬森林遊樂區者)</string>
	<key>tab2_80_type</key>
	<string>item</string>
	<key>tab2_80_url</key>
	<string>160</string>
	<key>tab2_81</key>
	<string>十一、運輸服務業</string>
	<key>tab2_81_type</key>
	<string>title</string>
	<key>tab2_81_url</key>
	<string></string>
	<key>tab2_82</key>
	<string>A.海運服務業</string>
	<key>tab2_82_type</key>
	<string>subtitle</string>
	<key>tab2_82_url</key>
	<string></string>
	<key>tab2_83</key>
	<string>(f)海運輔助性服務業(CPC745)</string>
	<key>tab2_83_type</key>
	<string>item</string>
	<key>tab2_83_url</key>
	<string></string>
	<key>tab2_84</key>
	<string>港埠業</string>
	<key>tab2_84_type</key>
	<string>item2</string>
	<key>tab2_84_url</key>
	<string>161</string>
	<key>tab2_85</key>
	<string>其他水上運輸輔助業(船舶貨物裝卸承攬業、拖駁船業)</string>
	<key>tab2_85_type</key>
	<string>item2</string>
	<key>tab2_85_url</key>
	<string>162</string>
	<key>tab2_86</key>
	<string>貨櫃集散站經營</string>
	<key>tab2_86_type</key>
	<string>item2</string>
	<key>tab2_86_url</key>
	<string>182</string>
	<key>tab2_87</key>
	<string>船舶理貨業</string>
	<key>tab2_87_type</key>
	<string>item2</string>
	<key>tab2_87_url</key>
	<string>163</string>
	<key>tab2_88</key>
	<string>船舶小修業</string>
	<key>tab2_88_type</key>
	<string>item2</string>
	<key>tab2_88_url</key>
	<string>164</string>
	<key>tab2_89</key>
	<string>C.空運服務業</string>
	<key>tab2_89_type</key>
	<string>subtitle</string>
	<key>tab2_89_url</key>
	<string></string>
	<key>tab2_90</key>
	<string>(b)空運服務之銷售及行銷</string>
	<key>tab2_90_type</key>
	<string>item</string>
	<key>tab2_90_url</key>
	<string>66</string>
	<key>tab2_91</key>
	<string>航空貨物集散站經營業</string>
	<key>tab2_91_type</key>
	<string>item</string>
	<key>tab2_91_url</key>
	<string>67</string>
	<key>tab2_92</key>
	<string>F.公路運輸服務業</string>
	<key>tab2_92_type</key>
	<string>subtitle</string>
	<key>tab2_92_url</key>
	<string></string>
	<key>tab2_93</key>
	<string>(a)旅客運輸(限於小客車租賃業)</string>
	<key>tab2_93_type</key>
	<string>item</string>
	<key>tab2_93_url</key>
	<string>69</string>
	<key>tab2_94</key>
	<string>(b)貨物運輸</string>
	<key>tab2_94_type</key>
	<string>item</string>
	<key>tab2_94_url</key>
	<string>70</string>
	<key>tab2_95</key>
	<string>(d)公路運輸設備維修(CPC6112+8867)</string>
	<key>tab2_95_type</key>
	<string>item</string>
	<key>tab2_95_url</key>
	<string>71</string>
	<key>tab2_96</key>
	<string>(e)公路運輸支援服務業(CPC7441)</string>
	<key>tab2_96_type</key>
	<string>item</string>
	<key>tab2_96_url</key>
	<string></string>
	<key>tab2_97</key>
	<string>限公路客運的轉運站、車站、調度站</string>
	<key>tab2_97_type</key>
	<string>item2</string>
	<key>tab2_97_url</key>
	<string>165</string>
	<key>tab2_98</key>
	<string>(e)公路運輸支援服務業(CPC7442)</string>
	<key>tab2_98_type</key>
	<string>item</string>
	<key>tab2_98_url</key>
	<string></string>
	<key>tab2_99</key>
	<string>限公路橋樑及隧道管理</string>
	<key>tab2_99_type</key>
	<string>item2</string>
	<key>tab2_99_url</key>
	<string>166</string>
	<key>tab2_100</key>
	<string>(e)公路運輸支援服務業(CPC7443)</string>
	<key>tab2_100_type</key>
	<string>item</string>
	<key>tab2_100_url</key>
	<string></string>
	<key>tab2_101</key>
	<string>限停車場業</string>
	<key>tab2_101_type</key>
	<string>item2</string>
	<key>tab2_101_url</key>
	<string>167</string>
	<key>tab2_102</key>
	<string>空中纜車運輸服務(CPC71219**)</string>
	<key>tab2_102_type</key>
	<string>item</string>
	<key>tab2_102_url</key>
	<string>75</string>
	<key>tab2_103</key>
	<string>H.各類運輸之輔助性服務業</string>
	<key>tab2_103_type</key>
	<string>subtitle</string>
	<key>tab2_103_url</key>
	<string></string>
	<key>tab2_104</key>
	<string>(b)倉儲服務業(CPC742)</string>
	<key>tab2_104_type</key>
	<string>item</string>
	<key>tab2_104_url</key>
	<string>77</string>
	<key>tab2_105</key>
	<string>(c)貨運承攬服務業(CPC7480)</string>
	<key>tab2_105_type</key>
	<string>item</string>
	<key>tab2_105_url</key>
	<string>78</string>
	<key>tab2_106</key>
	<string>十二、其他</string>
	<key>tab2_106_type</key>
	<string>title</string>
	<key>tab2_106_url</key>
	<string></string>
	<key>tab2_107</key>
	<string>洗衣及染色服務業(CPC9701)</string>
	<key>tab2_107_type</key>
	<string>subtitle</string>
	<key>tab2_107_url</key>
	<string>80</string>
	<key>tab2_108</key>
	<string>美髮和其他美容服務業(CPC9702)</string>
	<key>tab2_108_type</key>
	<string>subtitle</string>
	<key>tab2_108_url</key>
	<string>81</string>
	<key>tab2_109</key>
	<string>殯儀館及火化場</string>
	<key>tab2_109_type</key>
	<string>subtitle</string>
	<key>tab2_109_url</key>
	<string>82</string>
	<key>tab2_110</key>
	<string>線上遊戲業</string>
	<key>tab2_110_type</key>
	<string>subtitle</string>
	<key>tab2_110_url</key>
	<string></string>
	<key>tab2_111</key>
	<string>限製作與研發服務</string>
	<key>tab2_111_type</key>
	<string>item</string>
	<key>tab2_111_url</key>
	<string>183</string>
</dict>
</plist>
